:root {
    width: 1400px;
    height: 800px;
    flex-shrink: 0;
    border: 1px solid #979797;
  
    background-image: url(headphones_backgrounf.avif);
}

.logo{
    width: 161px;
    height: 32px;
    flex-shrink: 0;
    align-items: start;
}
header {
    background-color: var(--primary-color);
    padding: 10px 20px; /* Increase padding for a bit more spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* ... Previous CSS styles ... */

.hero {
    text-align: center;
    padding: 100px 20px;
}
button{
    width: 162px;
height: 44px;
flex-shrink: 0;
border-radius: 22px;
background: #FF6565;
}